

/* =============================================================================
   My CSS
   ========================================================================== */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


@font-face {
  font-family: "Turnpike";
  src: url("fonts/Turnpike.ttf");
  }

html,body{ 
	width:100%;
	height:100%; 
}



     /* ----Progress Bar styling----- */
     .bar-container{
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      height: 0.2rem;
      background: black;
      top:0;
      z-index: 5;
  }
  
  .percent {
      position: absolute;
      background: transparent;
      height: 0.2rem;
      width: 100%;
      
  }


.fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #FADD00;
  transition: background 0.15s ease;
}



/* ---- particles.js container ---- */

#particles-js{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url('images/demo.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; 
  position: relative;
}



/*------- Logo styles-------- */

/* ----LM icon----- */

.lm-logo{
  background: transparent;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  position: absolute;
  
  
}

.lm-logo img{
height: 1.2rem;
width: 2rem;
/* background: black; */
margin-left: 1rem;

}


/* ---------Oct logo--------- */

.main-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: absolute;
  top:0;
  margin-top: 5rem;
}

.logo-right-side h3{
  font-size: 3rem;
  color: white;
  font-family:"Montserrat";
  font-weight: 800;
  line-height: 3.2rem;
  margin-left: 0.5rem;
}

.red-line{
  width: 0.3rem;
  background: #BF4242;
  height: 5.5rem;
}

.october-text{
  letter-spacing: 0.4rem;
}

.crises-text{
letter-spacing: 1.5rem;
}


.logo-left-side h1{
  font-size: 1.4rem;
  color: white;
  font-family:"Montserrat";
  line-height: 2.2rem;
  margin-right: 0.5rem;
 
}



/* -------Heading styles------- */

 .text-container{
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: absolute;
} 

.text-container h2 {
  width: 50%;
  font-size: 2rem;
  color: white;
  font-family:"Turnpike";
  line-height: 3rem;
  text-align: center;
  transition: 1s;
}


   /* ------Author styles ------*/

   .author-name{
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    margin-top: 22rem;
    position: absolute;
    
  }

   .author-name p{
    font-family: "georgia";
    color: white;
    line-height: 2.4rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-style: italic;
  }

  

  .separator{
    margin-top: 1rem;
    width: 5rem;
    height: 0.4rem;
    background: #BF4242;
    
  }




  /*---------animated arrows styling------*/

.arrows{
  position: absolute;
  margin-top: 35rem;
}

  .animated-arrows{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    z-index: 0;
    margin-bottom: 2rem;
    
  }
  
  
  
  .animated-arrows span {
    position: absolute;
    width: 24px;
    height: 24px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  .animated-arrows  span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .animated-arrows  span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  .animated-arrows  span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animated-arrows-black span {
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;

  }
  
/* ----End of arrows styling----- */



/* ------art-section 2 styling------ */

.art-section-2-wrapper, .art-section-5-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}


.art-section-2{
  width: 80%;
  display: flex;
}

.art-section-left{
  width: 50%;
}

.art-section-right{
  width: 50%;
}


.art-section-right p{
  font-family: "georgia";
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left;
  width: 100%;
  padding: 1rem;
}


.img-container-1{
  
  /* background: red; */
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  transition: 1s;
  
}

.img-1{
  width: 100%;
  
}

.image-description{
  
  width: 100%;
  background: black;
  border-left: 0.5rem solid #41AA9A;
 padding: 0.5rem;
 
}

.image-description p{
  color: white;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;

}


.description-text{
  font-family: "georgia";
  font-size: 1rem;
}

  .drop-cap{
    float:left;
    font-size: 6rem;
    line-height:4rem;
    padding-right:.25rem;
    margin-left: -.9rem; 
    font-family: "georgia";
    font-style: normal;
    font-weight: 100;
    color: #FF895A;

}

/* ----End of section 2 styling----- */

/* ------Section 3 blockquote styling------ */

.art-section-3{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.art-section-3 h2{
  width: 50%;
  font-size: 2rem;
  color: black;
  font-family:"Turnpike";
  line-height: 3rem;
  text-align: center;
  transition: 1s;
}


.art-section-3 h3{
  width: 30%;
  padding: 1rem;
  font-size: 1.9rem;
  color: black;
  font-family:"georgia";
  font-weight: 200;
  text-align: center;
}

/* -----End of section 3 styling------ */

.big-img{
  width: 100%;
  height: 130vh;
  display: flex;
  align-items: flex-end;
  background-image: url("images/big-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.big-img-description{
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.658);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 0.5rem solid #41AA9A;
  border-right: 0.5rem solid #41AA9A;
}

.big-img-description h3{
  width: 50%;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  font-family:"georgia";
  font-weight: 200;
  text-align: center;
}



.big-img-description-mobile{
  display:none;
}

/* --------End of big image styling */



/* ----spacer div styling------- */
.spacer{
  width: 100%;
  height: 5rem;
}




/* --------section 5 styling----- */

.art-section-5{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.img-container{
  
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  
}

.img-flag{
  width: 70%;
  transform: rotate(-10deg);
  padding: 2rem;
}


.art-section-5-text-container{
  width: 50%;
}

.art-section-5-text-container p{
  font-family: "georgia";
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left;
  width: 100%;
  margin-top: 2rem;
}

.image-description-center{
width: 100%;
}

.description-text-center{
  font-size: 1rem;
  }



/* ----Counter heading styling----- */

.counter-heading{
  margin-top: 5rem;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-heading h2{
  width: 30%;
  color: black;
  text-align: center;
  line-height: 2rem;
  font-family: "Turnpike";
}

.left-line, .right-line{
  height: 0.3rem;
  width: 40%;
  background: gray;
}

/* ----End of FLQ heading styling----- */



/* ------Counters styling------- */

.numbers{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  
}


.top-blocks ,.bottom-blocks{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.block-1, .block-2, .block-3{
  width: 20%;
  height: 13rem;
  background: #EBD000;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}

.statvalue{
  font-family: "Turnpike";
  color: #0030B1;
  font-size: 2.5rem;
  margin-top: 2rem;
  
}

.count-wrapper{
  margin-top: 2rem;
}

 .numbers p {
  font-family: "georgia";
  font-size: 1.3rem;
  text-align: center;
  width: 60%;
  margin-top: 1rem;
}




  
/* Footer navigator styling */
.footer-navigator{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

a{
  text-decoration: none;
}

.btn{
  width: 25%;
  height: 7rem;
  background: #1F1F1F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border: 0;
  transition: 1s;
  outline:0;
  font-family: "Turnpike";
  color: white;
  font-size: 1rem;
  margin: 0.3rem;
  padding-right: 2rem;
}

.btn-2{
  align-items: flex-start;
  padding-left: 2rem;
}

.smallnavtext{
  margin-top: -1rem;
  
}


.largenavtext{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  margin-top: 1rem;
 
}


.smallnavtext p{
font-family: "georgia";
font-style: italic;
width: 100%;
}

.btn:hover{
  background: #BF4242;
}


.btn img{
  height: 2rem;
  margin: 1rem;
}

.previous{
  transform: rotate(180deg);
}


/* ------Social share footer styling------- */

.social-share{
  width: 100%;
  height:5rem;
  background: #3E3E3E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
 
}



.social-share p{
height: 5rem;
display: flex;
align-items: center;
  color: white;
  font-family: "georgia";
  font-size: 1rem;
  font-style: italic;
  
}

.social-btn-container{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.logo-container{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10rem;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: 1s;
  
}

.logo-container:hover{
  background: #BF4242;
}


.fb-icon{
height: 1.1rem;
}

.tw-icon{
  height: 1rem;
  
}

@media only screen and (max-width: 1366px){

  .block-1, .block-2, .block-3{
    width: 30%;
  }

  .big-img-description-mobile{
    display:none;
  }

  .btn{
    width: 30%;
    height: 6rem;
    font-size: 0.8rem;
    
  }


  .btn-2{
    align-items: flex-start;
    padding-left: 2rem;
  }

}



@media only screen and (max-width: 1024px){

  .art-section-3{
    height: 80vh;

  }
  
  .art-section-3 h2{
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }
  
  
  .art-section-3 h3{
    width: 50%;
    padding: 1rem;
    font-size: 1.9rem;
   
  }

  .big-img{
    width: 100%;
    height: 60vh;
    background-size: contain;
  }
  
  .big-img-description h3{
    width: 100%;
  }

  .big-img-description-mobile{
    display:none;
  }

  .art-section-5{
    width: 100%;
    
  }
  
  .img-container{
    width: 100%;
    padding: 2rem;
  }
  
  .img-flag{
    width: 70%;
    transform: rotate(-10deg);
    padding: 2rem;
  }
  
  
  .art-section-5-text-container{
    width: 100%;
    padding: 2rem;
  }

  .numbers{
    height: auto;
    padding: 0rem;
  }

  .btn{
    width: 35%;
  }
  

  
}



@media only screen and (max-width: 768px){

  .text-container h2 {
    padding: 1rem;
    width: 70%;
    font-size: 2rem;
    color: white;
    font-family:"Turnpike";
    line-height: 3rem;
    text-align: center;
  }

  .block-1, .block-2, .block-3{
    width: 30%;
  }

  .statvalue{
    font-size: 2rem;
  }

  .numbers p {
    font-size: 1.3rem;
    width: 70%;
  }



.art-section-2{
  width: 100%;
  display: block;
}

.art-section-left{
  width: 100%;
}

.art-section-right{
  width: 100%;
}

.drop-cap{
  line-height:5rem;
}

.art-section-3{
  
  height: 80vh;
 
}

.art-section-3 h2{
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}


.art-section-3 h3{
  width: 50%;
  padding: 1rem;
  font-size: 1.9rem;
  color: black;
  font-family:"georgia";
  font-weight: 200;
  text-align: center;
}


.big-img{
  width: 100%;
  height: 60vh;
  background-size: contain;
}

.big-img-description h3{
  width: 100%;
}

.big-img-description-mobile{
  display:none;
}


.art-section-5{
  width: 100%;
}

.img-container{
  width: 100%;
  padding: 2rem;
  
}

.art-section-5-text-container{
  width: 100%;
  padding: 2rem;
}

.art-section-5-text-container p{
  margin-top: 1rem;
}

.numbers{
  height: auto;
  padding: 0rem;
}

.btn{
  width: 45%;
}

}


@media only screen and (max-width: 700px){

  #particles-js{
    
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 80% 80%;
    background-repeat: no-repeat; 
  }

  .lm-logo{
    height: 3rem;
    width: 100%;
  }

  .lm-logo img{
    height: 1rem;
  }

  


  .text-container h2 {
    width: 50%;
    font-size: 2rem;
    color: white;
    font-family:"Turnpike";
    line-height: 3rem;
    text-align: center;
  }
  
  
  
  
  .red-line{
    width: 0.3rem;
    background: #BF4242;
    height: 4.5rem;
  }
  
  .logo-right-side h3{
   
    font-size: 2.5rem;
    color: white;
    font-family:"Montserrat";
    font-weight: 800;
    line-height: 2.5rem;
    margin-left: 0.5rem;
  }
  
  .october-text{
    letter-spacing: 0.4rem;
  }
  
  .crises-text{
  letter-spacing: 1.2rem;
  }
  
  
  .logo-left-side h1{
    font-size: 1.2rem;
    color: white;
    font-family:"Montserrat";
    line-height: 1.7rem;
    margin-right: 0.5rem;
   
  }

  .text-container{
   width: 100%;
   height: 10rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background: transparent;
   position: absolute;
   
   
 } 
 
 .text-container h2 {
   padding: 1rem;
   width: 100%;
   font-size: 1.5rem;
   color: white;
   font-family:"Turnpike";
   line-height: 2rem;
   text-align: center;
 }


  .numbers{
    width: 100%;
    height: auto;
    padding: 0rem;
  
  }

  .top-blocks ,.bottom-blocks{
    width: 100%;
    display: block;
  }

  .block-1, .block-2, .block-3{
    width: 100%;
    height: 13rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }


  .art-section-3{
  
    height: 80vh;
   
  }
  
  .art-section-3 h2{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
  }
  
  
  .art-section-3 h3{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    
  }


  .big-img{
    width: 100%;
    height: 50vh;
    background-size: contain;
  
  }

  .big-img-description{
    display:none;
  }

  .big-img-description-mobile{
    display:block;
    width: 100%;
    height: 10rem;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 0.5rem solid #41AA9A;
    border-right: 0.5rem solid #41AA9A;
  }

  
  
  .big-img-description-mobile h3{
    width: 100%;
    font-size: 1rem;
    line-height: 2rem;
    color: white;
    font-family:"georgia";
    font-weight: 200;
    text-align: center;
  }




  .img-container{
   width: 100%;
   padding: 2rem;
 
 }
 
 .img-flag{
   width: 100%;
   transform: rotate(-10deg);
   padding: 2rem;
 }
 
 
 .art-section-5-text-container{
   width: 100%;
 }
 
 .art-section-5-text-container p{
   margin-top: 1rem;
 }

 
.spacer{
  width: 100%;
  height: 2rem;
}


.counter-heading{
  margin-top: 2rem;
  width: 100%;
  height: 5rem;
  
}

.counter-heading h2{
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
  
}

.footer-navigator{
  flex-direction: column-reverse;
  height: 50vh;
}


.btn{
width: 95%;
height: 5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 0.7rem;
padding-right: 0rem;
}

.btn-2{
align-items: center;
padding-left: 0rem;
}

}


@media only screen and (max-width: 450px){


  .red-line{
    width: 0.3rem;
    background: #BF4242;
    height: 3.6rem;
  }
  
  .logo-right-side h3{
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .october-text{
    letter-spacing: 0.3rem;
  }
  
  .crises-text{
  letter-spacing: 1.05rem;
  }
  
  
  .logo-left-side h1{
    font-size: 1rem;
    line-height: 1.3rem;
    margin-right: 0.5rem;
  }

  .footer-navigator{
    flex-direction: column-reverse;
    height: 50vh;
  }


.btn{
width: 95%;
height: 5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 0.7rem;
padding-right: 0rem;
}

.btn-2{
align-items: center;
padding-left: 0rem;
}
 


}

@media only screen and (max-height: 600px){

  .text-container h2 {
    width: 80%;
    font-size: 1.5rem;
    
  }

  .author-name{
   margin-top: 18rem;
 }

 .arrows{
  margin-top: 31rem;
}
}